# Project exclude paths
/target/
/out/
/Data Files/SavedData.json
/Data Files/YoutubeData.json
/Data Files/client_secret.json.old
/Data Files/client_secret.json
/Data Files/RefreshToken.json
/src/main/java/com/parker/FaceBookSDKTest.java