# Project exclude paths
/target/
/out/
/src/main/resources/tls/
/src/main/resources/client_secret.json.old
/Data Files/SavedData.json
/Data Files/YoutubeData.json
/Data Files/client_secret.json.old
/Data Files/client_secret.json