<settings>
      <servers>
            <server>
                  <id>gitlab-maven</id>
                  <configuration>
                          <httpHeaders>
                              <property>
                                    <name>Private-Token</name>
                                    <value>zTzyEgPYKx3SnHToKqyZ</value>
                              </property>
                        </httpHeaders>
                  </configuration>
            </server>
      </servers>
</settings>
